<h1>Register</h1>

<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Username</label>
    <input type="text" ng-model="user.username" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Password</label>
    <input type="password" ng-model="user.password" class="form-control" id="exampleInputPassword3" placeholder="Password">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3-2">Confirm Password</label>
    <input type="password" ng-model="user.password2" class="form-control" id="exampleInputPassword3-2" placeholder="Confirm Password">
  </div>
  <button ng-click="register(user)" class="btn btn-default">Register</button>
</form>